.label-search {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-search {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #5d5c61;
  background: #d6d9d9;
  width: 100%;
}
