.list-contacts {
  display: grid;
  grid-gap: 10px;
  height: 110px;
  overflow-y: scroll;
}

.item-contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg-info {
  display: flex;
  gap: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 11px;
  padding: 3px;
}
